<a href="https://colab.research.google.com/github/lucasfreire01/Dengue_Eua/blob/main/Dengue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyod

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyod
  Downloading pyod-1.0.9.tar.gz (149 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 150.0/150.0 kB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from pyod) (1.2.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.9/dist-packages (from pyod) (3.7.1)
Requirement already satisfied: numpy>=1.19 in /usr/local/lib/python3.9/dist-packages (from pyod) (1.22.4)
Requirement already satisfied: numba>=0.51 in /usr/local/lib/python3.9/dist-packages (from pyod) (0.56.4)
Requirement already satisfied: scipy>=1.5.1 in /usr/local/lib/python3.9/dist-packages (from pyod) (1.10.1)
Requirement already satisfied: scikit_learn>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from pyod) (1.2.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from pyod) (1.16.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from numba>=0.51->pyod) (67.6.1)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.9/dist-packages (from numba>=0.51->pyod) (0.39.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit_learn>=0.20.0->pyod) (3.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyod) (1.4.4)
Requirement already satisfied: importlib-resources>=3.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyod) (5.12.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyod) (23.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyod) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyod) (4.39.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyod) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyod) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyod) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib->pyod) (8.4.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from importlib-resources>=3.2.0->matplotlib->pyod) (3.15.0)
Building wheels for collected packages: pyod
  Building wheel for pyod (setup.py) ... done
  Created wheel for pyod: filename=pyod-1.0.9-py3-none-any.whl size=184112 sha256=c929b01ca5f68d0498bcc007b9568c2a51d5a6187738b39d5262dd9583996ff7
  Stored in directory: /root/.cache/pip/wheels/1b/9c/b8/9759d7cc64a1e01bb9872ade80cb7db445ccf506e083325106
Successfully built pyod
Installing collected packages: pyod
Successfully installed pyod-1.0.9

In [2]:
#Importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Importinig the dataset train
train = pd.read_csv('/content/drive/MyDrive/Dengue/dengue_features_train.csv')

In [4]:
train

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_precip_amt_kg_per_m2,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,32.00,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,17.94,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,26.10,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,13.90,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,12.20,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,iq,2010,21,2010-05-28,0.342750,0.318900,0.256343,0.292514,55.30,299.334286,...,45.00,88.765714,55.30,18.485714,9.800000,28.633333,11.933333,35.4,22.4,27.0
1452,iq,2010,22,2010-06-04,0.160157,0.160371,0.136043,0.225657,86.47,298.330000,...,207.10,91.600000,86.47,18.070000,7.471429,27.433333,10.500000,34.7,21.7,36.6
1453,iq,2010,23,2010-06-11,0.247057,0.146057,0.250357,0.233714,58.94,296.598571,...,50.60,94.280000,58.94,17.008571,7.500000,24.400000,6.900000,32.2,19.2,7.4
1454,iq,2010,24,2010-06-18,0.333914,0.245771,0.278886,0.325486,59.67,296.345714,...,62.33,94.660000,59.67,16.815714,7.871429,25.433333,8.733333,31.2,21.0,16.0
1455,iq,2010,25,2010-06-25,0.298186,0.232971,0.274214,0.315757,63.22,298.097143,...,36.90,89.082857,63.22,17.355714,11.014286,27.475000,9.900000,33.7,22.2,20.4

In [5]:
#Importinig the dengue_labels
lables = pd.read_csv('/content/drive/MyDrive/Dengue/dengue_labels_train.csv')
lables

     city  year  weekofyear  total_cases
0      sj  1990          18            4
1      sj  1990          19            5
2      sj  1990          20            4
3      sj  1990          21            3
4      sj  1990          22            6
...   ...   ...         ...          ...
1451   iq  2010          21            5
1452   iq  2010          22            8
1453   iq  2010          23            1
1454   iq  2010          24            1
1455   iq  2010          25            4

[1456 rows x 4 columns]

In [6]:
#Take the total_cases from dengue_labes to dataset train because the total_cases column is the target column of this project
train['total_cases'] = lables['total_cases']

In [7]:
train

,city,year,weekofyear,week_start_date,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,...,reanalysis_relative_humidity_percent,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,total_cases
0,sj,1990,18,1990-04-30,0.122600,0.103725,0.198483,0.177617,12.42,297.572857,...,73.365714,12.42,14.012857,2.628571,25.442857,6.900000,29.4,20.0,16.0,4
1,sj,1990,19,1990-05-07,0.169900,0.142175,0.162357,0.155486,22.82,298.211429,...,77.368571,22.82,15.372857,2.371429,26.714286,6.371429,31.7,22.2,8.6,5
2,sj,1990,20,1990-05-14,0.032250,0.172967,0.157200,0.170843,34.54,298.781429,...,82.052857,34.54,16.848571,2.300000,26.714286,6.485714,32.2,22.8,41.4,4
3,sj,1990,21,1990-05-21,0.128633,0.245067,0.227557,0.235886,15.36,298.987143,...,80.337143,15.36,16.672857,2.428571,27.471429,6.771429,33.3,23.3,4.0,3
4,sj,1990,22,1990-05-28,0.196200,0.262200,0.251200,0.247340,7.52,299.518571,...,80.460000,7.52,17.210000,3.014286,28.942857,9.371429,35.0,23.9,5.8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,iq,2010,21,2010-05-28,0.342750,0.318900,0.256343,0.292514,55.30,299.334286,...,88.765714,55.30,18.485714,9.800000,28.633333,11.933333,35.4,22.4,27.0,5
1452,iq,2010,22,2010-06-04,0.160157,0.160371,0.136043,0.225657,86.47,298.330000,...,91.600000,86.47,18.070000,7.471429,27.433333,10.500000,34.7,21.7,36.6,8
1453,iq,2010,23,2010-06-11,0.247057,0.146057,0.250357,0.233714,58.94,296.598571,...,94.280000,58.94,17.008571,7.500000,24.400000,6.900000,32.2,19.2,7.4,1
1454,iq,2010,24,2010-06-18,0.333914,0.245771,0.278886,0.325486,59.67,296.345714,...,94.660000,59.67,16.815714,7.871429,25.433333,8.733333,31.2,21.0,16.0,1
1455,iq,2010,25,2010-06-25,0.298186,0.232971,0.274214,0.315757,63.22,298.097143,...,89.082857,63.22,17.355714,11.014286,27.475000,9.900000,33.7,22.2,20.4,4

In [8]:
#Starting the pre_processing with see the NaN values
train.isnull().sum()

city                                       0
year                                       0
weekofyear                                 0
week_start_date                            0
ndvi_ne                                  194
ndvi_nw                                   52
ndvi_se                                   22
ndvi_sw                                   22
precipitation_amt_mm                      13
reanalysis_air_temp_k                     10
reanalysis_avg_temp_k                     10
reanalysis_dew_point_temp_k               10
reanalysis_max_air_temp_k                 10
reanalysis_min_air_temp_k                 10
reanalysis_precip_amt_kg_per_m2           10
reanalysis_relative_humidity_percent      10
reanalysis_sat_precip_amt_mm              13
reanalysis_specific_humidity_g_per_kg     10
reanalysis_tdtr_k                         10
station_avg_temp_c                        43
station_diur_temp_rng_c                   43
station_max_temp_c                        20
station_min_temp_c                        14
station_precip_mm                         22
total_cases                                0
dtype: int64

In [9]:
#Transforming the categorical column for the number column
from sklearn.preprocessing import LabelEncoder
lb= LabelEncoder()
train['city'] = lb.fit_transform(train['city'])

In [10]:
#Changing the columns date
#Spliting the column weel_start_date in column Month and day the year column already exist
import datetime as dt
train['week_start_date'] = pd.to_datetime(train['week_start_date'])
train['Month'] = train['week_start_date'].dt.month
train['day'] = train['week_start_date'].dt.day

In [11]:
#Drop the week_start_date because don't is necessary
train.drop('week_start_date', axis=1, inplace=True)

In [12]:
#switching the NaN values for mean each column
for i in train.columns:
  train[i].fillna(train[i].mean(), inplace=True)

In [13]:
#Spliting the train dataset for train_model and test_model
train_model = train.drop('total_cases', axis=1)
test_model = train['total_cases']

In [14]:
#See and treating the outliers values
from pyod.models.knn import KNN
detector = KNN()
detector.fit(train_model)

KNN(algorithm='auto', contamination=0.1, leaf_size=30, method='largest',
  metric='minkowski', metric_params=None, n_jobs=1, n_neighbors=5, p=2,
  radius=1.0)

In [15]:
predict = detector.labels_
len(predict)

1456

In [16]:
#We have 1310 values not outliers(0) and 146 outliers(1)
np.unique(predict, return_counts=True)

(array([0, 1]), array([1310,  146]))

In [17]:
#See the distance calculation for outliers detection
trust = detector.decision_scores_
trust

array([21.00898554, 16.71808174, 21.13866303, ..., 20.68077716,
       21.85339982, 21.00018851])

In [18]:
#Doing a list just outliers indexs
outliers = []
for i in range(len(predict)):
  if predict[i] == 1:
    outliers.append(i)

In [19]:
#Removing the outliers values for mean of each column
column = []
for i in train.columns:
  column.append(i)
for c in column:
  for o in outliers:
    train.loc[o,c] = train.loc[:,c].mean()

In [20]:
#Normalixation the dataset
from sklearn.preprocessing import MinMaxScaler
obj_norm = MinMaxScaler().fit(train_model)
train_norm = obj_norm.transform(train_model)
train_norm

array([[1.        , 0.        , 0.32692308, ..., 0.02944966, 0.27272727,
        1.        ],
       [1.        , 0.        , 0.34615385, ..., 0.01582919, 0.36363636,
        0.20689655],
       [1.        , 0.        , 0.36538462, ..., 0.07620099, 0.36363636,
        0.44827586],
       ...,
       [0.        , 1.        , 0.42307692, ..., 0.01362047, 0.45454545,
        0.34482759],
       [0.        , 1.        , 0.44230769, ..., 0.02944966, 0.45454545,
        0.5862069 ],
       [0.        , 1.        , 0.46153846, ..., 0.03754832, 0.45454545,
        0.82758621]])

In [21]:
train_model.columns

Index(['city', 'year', 'weekofyear', 'ndvi_ne', 'ndvi_nw', 'ndvi_se',
       'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm', 'Month', 'day'],
      dtype='object')

In [22]:
train_norm = pd.DataFrame(train_norm)
train_norm.columns = ['city', 'year', 'weekofyear', 'ndvi_ne', 'ndvi_nw', 'ndvi_se',
       'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm', 'Month', 'day']

In [23]:
train_norm

,city,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,Month,day
0,1.0,0.0,0.326923,0.578226,0.614835,0.386418,0.395544,0.031797,0.388291,0.354667,...,0.031797,0.262659,0.086660,0.430091,0.210393,0.174194,0.486239,0.029450,0.272727,1.000000
1,1.0,0.0,0.346154,0.629943,0.657063,0.321190,0.359233,0.058423,0.472710,0.441778,...,0.058423,0.418164,0.069133,0.565350,0.163498,0.322581,0.688073,0.015829,0.363636,0.206897
2,1.0,0.0,0.365385,0.479441,0.690881,0.311879,0.384430,0.088428,0.548064,0.496000,...,0.088428,0.586900,0.064265,0.565350,0.173638,0.354839,0.743119,0.076201,0.363636,0.448276
3,1.0,0.0,0.384615,0.584823,0.770066,0.438912,0.491150,0.039324,0.575260,0.539556,...,0.039324,0.566808,0.073028,0.645897,0.198986,0.425806,0.788991,0.007362,0.363636,0.689655
4,1.0,0.0,0.403846,0.658698,0.788882,0.481601,0.509943,0.019252,0.645515,0.593778,...,0.019252,0.628226,0.112950,0.802432,0.429658,0.535484,0.844037,0.010676,0.363636,0.931034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,0.0,1.0,0.384615,0.818931,0.851154,0.490886,0.584064,0.141577,0.621152,0.731556,...,0.141577,0.774093,0.575463,0.769504,0.656950,0.561290,0.706422,0.049696,0.363636,0.931034
1452,0.0,1.0,0.403846,0.619290,0.677048,0.273679,0.474367,0.221377,0.488385,0.560000,...,0.221377,0.726560,0.416748,0.641844,0.529785,0.516129,0.642202,0.067366,0.454545,0.103448
1453,0.0,1.0,0.423077,0.714304,0.661327,0.480079,0.487587,0.150896,0.259490,0.336000,...,0.150896,0.605194,0.418695,0.319149,0.210393,0.354839,0.412844,0.013620,0.454545,0.344828
1454,0.0,1.0,0.442308,0.809270,0.770839,0.531588,0.638162,0.152765,0.226062,0.327111,...,0.152765,0.583143,0.444012,0.429078,0.373046,0.290323,0.577982,0.029450,0.454545,0.586207
1455,0.0,1.0,0.461538,0.770206,0.756782,0.523154,0.622199,0.161854,0.457602,0.615111,...,0.161854,0.644887,0.658228,0.646277,0.476553,0.451613,0.688073,0.037548,0.454545,0.827586

In [24]:
#standardizing values
from sklearn.preprocessing import StandardScaler
obg_df = StandardScaler().fit(train_model)
train_df = obg_df.transform(train_model)
train_df

array([[ 0.74535599, -2.04044804, -0.56635649, ..., -0.49547268,
        -0.70082156,  1.68022226],
       [ 0.74535599, -2.04044804, -0.49975322, ..., -0.65265527,
        -0.41101861, -0.94688032],
       [ 0.74535599, -2.04044804, -0.43314995, ...,  0.04404597,
        -0.41101861, -0.14732736],
       ...,
       [-1.34164079,  1.65883268, -0.23334015, ..., -0.67814434,
        -0.12121566, -0.48999291],
       [-1.34164079,  1.65883268, -0.16673689, ..., -0.49547268,
        -0.12121566,  0.30956004],
       [-1.34164079,  1.65883268, -0.10013362, ..., -0.40201275,
        -0.12121566,  1.109113  ]])

In [25]:
train_df = pd.DataFrame(train_df)
train_df.columns = ['city', 'year', 'weekofyear', 'ndvi_ne', 'ndvi_nw', 'ndvi_se',
       'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm', 'Month', 'day']

In [26]:
train_df

,city,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,Month,day
0,0.745356,-2.040448,-0.566356,-0.150582,-0.227748,-0.072330,-0.296607,-0.766360,-0.831817,-1.179627,...,-0.766360,-1.778907,-0.643976,-1.369503,-0.553073,-1.569266,-1.342423,-0.495473,-0.700822,1.680222
1,0.745356,-2.040448,-0.499753,0.211087,0.098667,-0.565358,-0.562485,-0.527306,-0.361333,-0.622719,...,-0.527306,-0.893869,-0.716759,-0.370479,-0.805235,-0.386830,0.062487,-0.652655,-0.411019,-0.946880
2,0.745356,-2.040448,-0.433150,-0.841424,0.360068,-0.635739,-0.377986,-0.257911,0.058630,-0.276072,...,-0.257911,0.066472,-0.736976,-0.370479,-0.750713,-0.129779,0.445644,0.044046,-0.411019,-0.147327
3,0.745356,-2.040448,-0.366547,-0.104450,0.972149,0.324452,0.403427,-0.698781,0.210195,0.002382,...,-0.698781,-0.047876,-0.700585,0.224446,-0.614409,0.435734,0.764941,-0.750363,-0.411019,0.652226
4,0.745356,-2.040448,-0.299943,0.412184,1.117600,0.647116,0.541037,-0.878991,0.601740,0.349028,...,-0.878991,0.301677,-0.534802,1.380620,0.625955,1.309708,1.148099,-0.712130,-0.411019,1.451779
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,-1.341641,1.658833,-0.366547,1.532747,1.598946,0.717303,1.083754,0.219277,0.465962,1.229852,...,0.219277,1.131865,1.385852,1.137411,1.848145,1.515350,0.190206,-0.261823,-0.411019,1.451779
1452,-1.341641,1.658833,-0.299943,0.136590,0.253142,-0.924479,0.280542,0.935749,-0.273972,0.133084,...,0.935749,0.861333,0.726764,0.194512,1.164355,1.155478,-0.256811,-0.057910,-0.121216,-1.289546
1453,-1.341641,1.658833,-0.233340,0.801052,0.131623,0.635613,0.377340,0.302946,-1.549648,-1.298965,...,0.302946,0.170594,0.734851,-2.188928,-0.553073,-0.129779,-1.853299,-0.678144,-0.121216,-0.489993
1454,-1.341641,1.658833,-0.166737,1.465187,0.978132,1.024954,1.479867,0.319725,-1.735948,-1.355792,...,0.319725,0.045090,0.839982,-1.376987,0.321543,-0.643881,-0.703828,-0.495473,-0.121216,0.309560
1455,-1.341641,1.658833,-0.100134,1.191996,0.869468,0.961201,1.362989,0.401326,-0.445536,0.485414,...,0.401326,0.396502,1.729548,0.227252,0.878117,0.641375,0.062487,-0.402013,-0.121216,1.109113

In [27]:
train_norm

,city,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,Month,day
0,1.0,0.0,0.326923,0.578226,0.614835,0.386418,0.395544,0.031797,0.388291,0.354667,...,0.031797,0.262659,0.086660,0.430091,0.210393,0.174194,0.486239,0.029450,0.272727,1.000000
1,1.0,0.0,0.346154,0.629943,0.657063,0.321190,0.359233,0.058423,0.472710,0.441778,...,0.058423,0.418164,0.069133,0.565350,0.163498,0.322581,0.688073,0.015829,0.363636,0.206897
2,1.0,0.0,0.365385,0.479441,0.690881,0.311879,0.384430,0.088428,0.548064,0.496000,...,0.088428,0.586900,0.064265,0.565350,0.173638,0.354839,0.743119,0.076201,0.363636,0.448276
3,1.0,0.0,0.384615,0.584823,0.770066,0.438912,0.491150,0.039324,0.575260,0.539556,...,0.039324,0.566808,0.073028,0.645897,0.198986,0.425806,0.788991,0.007362,0.363636,0.689655
4,1.0,0.0,0.403846,0.658698,0.788882,0.481601,0.509943,0.019252,0.645515,0.593778,...,0.019252,0.628226,0.112950,0.802432,0.429658,0.535484,0.844037,0.010676,0.363636,0.931034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,0.0,1.0,0.384615,0.818931,0.851154,0.490886,0.584064,0.141577,0.621152,0.731556,...,0.141577,0.774093,0.575463,0.769504,0.656950,0.561290,0.706422,0.049696,0.363636,0.931034
1452,0.0,1.0,0.403846,0.619290,0.677048,0.273679,0.474367,0.221377,0.488385,0.560000,...,0.221377,0.726560,0.416748,0.641844,0.529785,0.516129,0.642202,0.067366,0.454545,0.103448
1453,0.0,1.0,0.423077,0.714304,0.661327,0.480079,0.487587,0.150896,0.259490,0.336000,...,0.150896,0.605194,0.418695,0.319149,0.210393,0.354839,0.412844,0.013620,0.454545,0.344828
1454,0.0,1.0,0.442308,0.809270,0.770839,0.531588,0.638162,0.152765,0.226062,0.327111,...,0.152765,0.583143,0.444012,0.429078,0.373046,0.290323,0.577982,0.029450,0.454545,0.586207
1455,0.0,1.0,0.461538,0.770206,0.756782,0.523154,0.622199,0.161854,0.457602,0.615111,...,0.161854,0.644887,0.658228,0.646277,0.476553,0.451613,0.688073,0.037548,0.454545,0.827586

In [28]:
#Selecting the best columns for learning of model
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
train_k_best = SelectKBest(chi2, k=15).fit_transform(train_norm, test_model)

In [29]:
train_norm

,city,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,Month,day
0,1.0,0.0,0.326923,0.578226,0.614835,0.386418,0.395544,0.031797,0.388291,0.354667,...,0.031797,0.262659,0.086660,0.430091,0.210393,0.174194,0.486239,0.029450,0.272727,1.000000
1,1.0,0.0,0.346154,0.629943,0.657063,0.321190,0.359233,0.058423,0.472710,0.441778,...,0.058423,0.418164,0.069133,0.565350,0.163498,0.322581,0.688073,0.015829,0.363636,0.206897
2,1.0,0.0,0.365385,0.479441,0.690881,0.311879,0.384430,0.088428,0.548064,0.496000,...,0.088428,0.586900,0.064265,0.565350,0.173638,0.354839,0.743119,0.076201,0.363636,0.448276
3,1.0,0.0,0.384615,0.584823,0.770066,0.438912,0.491150,0.039324,0.575260,0.539556,...,0.039324,0.566808,0.073028,0.645897,0.198986,0.425806,0.788991,0.007362,0.363636,0.689655
4,1.0,0.0,0.403846,0.658698,0.788882,0.481601,0.509943,0.019252,0.645515,0.593778,...,0.019252,0.628226,0.112950,0.802432,0.429658,0.535484,0.844037,0.010676,0.363636,0.931034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,0.0,1.0,0.384615,0.818931,0.851154,0.490886,0.584064,0.141577,0.621152,0.731556,...,0.141577,0.774093,0.575463,0.769504,0.656950,0.561290,0.706422,0.049696,0.363636,0.931034
1452,0.0,1.0,0.403846,0.619290,0.677048,0.273679,0.474367,0.221377,0.488385,0.560000,...,0.221377,0.726560,0.416748,0.641844,0.529785,0.516129,0.642202,0.067366,0.454545,0.103448
1453,0.0,1.0,0.423077,0.714304,0.661327,0.480079,0.487587,0.150896,0.259490,0.336000,...,0.150896,0.605194,0.418695,0.319149,0.210393,0.354839,0.412844,0.013620,0.454545,0.344828
1454,0.0,1.0,0.442308,0.809270,0.770839,0.531588,0.638162,0.152765,0.226062,0.327111,...,0.152765,0.583143,0.444012,0.429078,0.373046,0.290323,0.577982,0.029450,0.454545,0.586207
1455,0.0,1.0,0.461538,0.770206,0.756782,0.523154,0.622199,0.161854,0.457602,0.615111,...,0.161854,0.644887,0.658228,0.646277,0.476553,0.451613,0.688073,0.037548,0.454545,0.827586

In [30]:
train_k_best = pd.DataFrame(train_k_best)

In [31]:
train_k_best
train_k_best.columns = ['city', 'year', 'weekofyear','ndvi_se', 'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k', 'reanalysis_max_air_temp_k',
                        'reanalysis_min_air_temp_k', 'reanalysis_sat_precip_amt_mm', 'reanalysis_tdtr_k', 'station_diur_temp_rng_c',
                        'station_min_temp_c', 'Month', 'day']

In [32]:
train_k_best

,city,year,weekofyear,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_max_air_temp_k,reanalysis_min_air_temp_k,reanalysis_sat_precip_amt_mm,reanalysis_tdtr_k,station_diur_temp_rng_c,station_min_temp_c,Month,day
0,1.0,0.0,0.326923,0.386418,0.395544,0.031797,0.388291,0.123457,0.692308,0.031797,0.086660,0.210393,0.486239,0.272727,1.000000
1,1.0,0.0,0.346154,0.321190,0.359233,0.058423,0.472710,0.191358,0.730769,0.058423,0.069133,0.163498,0.688073,0.363636,0.206897
2,1.0,0.0,0.365385,0.311879,0.384430,0.088428,0.548064,0.166667,0.800000,0.088428,0.064265,0.173638,0.743119,0.363636,0.448276
3,1.0,0.0,0.384615,0.438912,0.491150,0.039324,0.575260,0.222222,0.776923,0.039324,0.073028,0.198986,0.788991,0.363636,0.689655
4,1.0,0.0,0.403846,0.481601,0.509943,0.019252,0.645515,0.253086,0.815385,0.019252,0.112950,0.429658,0.844037,0.363636,0.931034
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1451,0.0,1.0,0.384615,0.490886,0.584064,0.141577,0.621152,0.734568,0.584615,0.141577,0.575463,0.656950,0.706422,0.363636,0.931034
1452,0.0,1.0,0.403846,0.273679,0.474367,0.221377,0.488385,0.660494,0.384615,0.221377,0.416748,0.529785,0.642202,0.454545,0.103448
1453,0.0,1.0,0.423077,0.480079,0.487587,0.150896,0.259490,0.475309,0.423077,0.150896,0.418695,0.210393,0.412844,0.454545,0.344828
1454,0.0,1.0,0.442308,0.531588,0.638162,0.152765,0.226062,0.512346,0.384615,0.152765,0.444012,0.373046,0.577982,0.454545,0.586207
1455,0.0,1.0,0.461538,0.523154,0.622199,0.161854,0.457602,0.617284,0.415385,0.161854,0.658228,0.476553,0.688073,0.454545,0.827586

In [33]:
train_norm.columns

Index(['city', 'year', 'weekofyear', 'ndvi_ne', 'ndvi_nw', 'ndvi_se',
       'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm', 'Month', 'day'],
      dtype='object')

In [34]:
#Make the division in x_train, x_test , y_train, y_test to train the model and test_size 0.15 (based in experiments the 0.15 value is the best)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(train_k_best, test_model, test_size = 0.15, random_state = 4)

In [35]:
#We're use the XGBRegressor because this model is the most acertive
#We have somes paramns we got a best score but for don't have overfitting some standard parameters were maintained
from math import gamma
import xgboost
xgb = xgboost.XGBRegressor(max_depth=6, eta = 0.4, gamma = 1)
xgb = xgb.fit(x_train, y_train)

In [36]:
#score: 86.26
ac = xgb.score(x_test, y_test)
print('Accurancy :' + str(ac))

Accurancy :0.8626194824526147

In [37]:
x_pred = xgb.predict(x_test)

In [38]:
from sklearn.metrics import mean_absolute_error

In [39]:
mae = mean_absolute_error(y_test, x_pred)

In [40]:
mae

10.044799928659717

In [41]:
#Then to train the model we goin to valid with new datas
test = pd.read_csv('/content/drive/MyDrive/Dengue/dengue_features_test.csv')

In [42]:
#Doing the pre_processes of new dataset
#Spliting the week_start_data in columns Month Day the year already exist
test['week_start_date'] = pd.to_datetime(test['week_start_date'])
test['Month'] = test['week_start_date'].dt.month
test['day'] = test['week_start_date'].dt.day

In [43]:
#Deleting the week_start_date because not is necessary
test = test.drop('week_start_date', axis=1)

In [44]:
test

,city,year,weekofyear,ndvi_ne,ndvi_nw,ndvi_se,ndvi_sw,precipitation_amt_mm,reanalysis_air_temp_k,reanalysis_avg_temp_k,...,reanalysis_sat_precip_amt_mm,reanalysis_specific_humidity_g_per_kg,reanalysis_tdtr_k,station_avg_temp_c,station_diur_temp_rng_c,station_max_temp_c,station_min_temp_c,station_precip_mm,Month,day
0,sj,2008,18,-0.018900,-0.018900,0.102729,0.091200,78.60,298.492857,298.550000,...,78.60,15.918571,3.128571,26.528571,7.057143,33.3,21.7,75.2,4,29
1,sj,2008,19,-0.018000,-0.012400,0.082043,0.072314,12.56,298.475714,298.557143,...,12.56,15.791429,2.571429,26.071429,5.557143,30.0,22.2,34.3,5,6
2,sj,2008,20,-0.001500,NaN,0.151083,0.091529,3.66,299.455714,299.357143,...,3.66,16.674286,4.428571,27.928571,7.785714,32.8,22.8,3.0,5,13
3,sj,2008,21,NaN,-0.019867,0.124329,0.125686,0.00,299.690000,299.728571,...,0.00,15.775714,4.342857,28.057143,6.271429,33.3,24.4,0.3,5,20
4,sj,2008,22,0.056800,0.039833,0.062267,0.075914,0.76,299.780000,299.671429,...,0.76,16.137143,3.542857,27.614286,7.085714,33.3,23.3,84.1,5,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,iq,2013,22,0.301471,0.380029,0.280629,0.383186,41.12,297.774286,298.964286,...,41.12,17.185714,10.100000,27.400000,9.050000,32.6,21.8,33.0,5,28
412,iq,2013,23,0.247600,0.296343,0.285371,0.350357,71.52,297.167143,298.328571,...,71.52,17.448571,9.657143,27.520000,10.720000,33.8,21.4,68.0,6,4
413,iq,2013,24,0.238729,0.251029,0.252586,0.249771,78.96,295.831429,296.607143,...,78.96,16.410000,7.385714,27.200000,10.075000,32.6,21.6,93.2,6,11
414,iq,2013,25,0.310429,0.302700,0.406614,0.403943,39.54,295.778571,297.400000,...,39.54,15.137143,8.228571,26.700000,8.480000,32.2,21.8,34.1,6,18
415,iq,2013,26,0.339467,0.240071,0.356943,0.273600,51.80,297.372857,299.000000,...,51.80,16.148571,11.542857,27.350000,9.675000,32.6,22.0,14.9,6,25

In [45]:
test.isnull().sum()

city                                      0
year                                      0
weekofyear                                0
ndvi_ne                                  43
ndvi_nw                                  11
ndvi_se                                   1
ndvi_sw                                   1
precipitation_amt_mm                      2
reanalysis_air_temp_k                     2
reanalysis_avg_temp_k                     2
reanalysis_dew_point_temp_k               2
reanalysis_max_air_temp_k                 2
reanalysis_min_air_temp_k                 2
reanalysis_precip_amt_kg_per_m2           2
reanalysis_relative_humidity_percent      2
reanalysis_sat_precip_amt_mm              2
reanalysis_specific_humidity_g_per_kg     2
reanalysis_tdtr_k                         2
station_avg_temp_c                       12
station_diur_temp_rng_c                  12
station_max_temp_c                        3
station_min_temp_c                        9
station_precip_mm                         5
Month                                     0
day                                       0
dtype: int64

In [46]:
#Changing the categorical column for numerical column
lb= LabelEncoder()
test['city'] = lb.fit_transform(test['city'])

In [47]:
#Reputing the NaN values for mean for each columns
for i in test.columns:
  test[i].fillna(test[i].mean(), inplace=True)

In [48]:
train_k_best.columns

Index(['city', 'year', 'weekofyear', 'ndvi_se', 'ndvi_sw',
       'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_sat_precip_amt_mm', 'reanalysis_tdtr_k',
       'station_diur_temp_rng_c', 'station_min_temp_c', 'Month', 'day'],
      dtype='object')

In [49]:
test = test[['city', 'year', 'weekofyear', 'ndvi_se', 'ndvi_sw',
              'precipitation_amt_mm', 'reanalysis_air_temp_k',
              'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
              'reanalysis_sat_precip_amt_mm', 'reanalysis_tdtr_k',
              'station_diur_temp_rng_c', 'station_min_temp_c', 'Month', 'day']]

In [50]:
#Take the predict of model
test_pred = xgb.predict(test)

In [51]:
test_pred

array([108.86552 , 108.86552 , 109.49595 ,  66.08693 , 108.86552 ,
       109.49595 , 109.49595 , 109.49595 , 108.86552 , 110.31203 ,
       112.352165, 110.31203 ,  93.80114 , 108.86552 , 110.31203 ,
       108.86552 , 110.55764 , 110.55764 , 110.31203 , 109.49595 ,
       110.55764 , 101.10262 , 110.9741  , 110.31203 , 109.49595 ,
        94.255424,  65.4565  , 109.49595 , 110.55764 , 110.55764 ,
       110.31203 , 109.49595 ,  74.52299 , 100.6126  ,  66.90301 ,
       110.31203 ,  66.87204 ,  66.90301 , 108.86552 ,  66.15914 ,
        66.08693 ,  69.29694 , 110.31203 ,  95.32589 , 110.34988 ,
       108.86552 ,  67.14862 , 110.31203 , 109.49595 ,  66.90301 ,
        65.4565  , 109.49595 , 110.31203 , 108.86552 , 108.86552 ,
       108.86552 , 110.802025, 110.31203 , 108.86552 , 108.86552 ,
       110.31203 , 111.29312 , 110.31203 , 110.34988 , 110.31203 ,
       109.49595 , 110.55764 , 110.31203 , 110.31203 , 110.55764 ,
       110.31203 , 109.49595 , 108.86552 , 110.31203 , 110.31203 ,
       110.31203 , 111.7521  , 106.19328 , 111.29312 , 109.49595 ,
       110.55764 , 109.49595 , 110.55764 , 110.802025,  66.90301 ,
       110.55764 ,  66.90301 , 110.34988 ,  66.58958 , 110.31203 ,
        66.08693 , 110.802025,  66.08693 ,  74.62782 ,  66.08693 ,
       108.86552 ,  66.90301 ,  65.4565  ,  67.14862 ,  95.20748 ,
        67.42158 , 110.55764 ,  66.90301 , 109.49595 , 108.86552 ,
       110.802025, 109.49595 , 110.31203 , 110.31203 , 108.86552 ,
       110.31203 , 102.05098 , 110.31203 , 110.31203 , 110.802025,
       110.34988 , 108.86552 , 109.49595 , 111.29312 , 108.86552 ,
       109.49595 ,  95.81591 , 110.31203 , 109.49595 , 110.802025,
       110.31203 , 109.49595 , 109.49595 , 108.86552 , 100.26459 ,
        94.47381 , 109.49595 , 109.49595 , 108.86552 ,  95.81591 ,
       110.31203 ,  69.29694 , 110.34988 , 109.49595 , 110.31203 ,
       108.86552 , 109.49595 ,  95.107506,  67.14862 ,  66.90301 ,
        66.90301 ,  67.14862 ,  68.56146 , 110.31203 ,  95.32589 ,
        66.15914 ,  66.15914 , 110.31203 , 110.31203 ,  66.90301 ,
       111.29312 , 109.49595 , 109.49595 , 109.49595 , 108.86552 ,
       108.86552 , 109.49595 , 108.86552 , 110.31203 , 110.55764 ,
       109.49595 , 109.49595 , 110.34988 , 108.86552 , 110.31203 ,
       110.31203 , 110.33926 , 110.55764 , 109.49595 , 110.55764 ,
       113.20553 , 110.31203 , 110.31203 , 101.82138 ,  99.58267 ,
       109.49595 , 110.31203 , 109.49595 , 110.55764 , 113.20553 ,
       108.86552 ,  66.90301 , 111.537506,  97.27015 , 110.31203 ,
        65.4565  , 110.31203 ,  67.14862 ,  67.14862 ,  66.08693 ,
        66.90301 ,  66.08693 , 111.97048 ,  66.90301 ,  76.68744 ,
        66.90301 , 110.34988 , 110.55764 , 108.86552 , 108.86552 ,
       110.31203 , 108.86552 , 110.33926 , 110.31203 , 108.86552 ,
       109.49595 , 108.86552 , 110.31203 , 110.31203 , 111.97048 ,
       109.49595 , 110.34988 ,  66.08693 , 110.31203 , 109.49595 ,
       108.86552 , 110.31203 , 110.31203 , 110.31203 , 108.86552 ,
       108.86552 , 110.31203 ,  95.32589 , 110.58364 , 111.537506,
       110.31203 , 110.55764 , 110.31203 , 109.49595 , 109.49595 ,
       109.49595 , 110.31203 , 109.49595 , 108.86552 , 110.34988 ,
       110.31203 , 108.86552 ,  65.4565  , 109.49595 ,  65.4565  ,
        66.08693 ,  66.15914 ,  66.90301 ,  66.90301 ,  69.34111 ,
        66.15914 ,  66.08693 , 108.86552 ,  67.8841  ,  65.4565  ,
       110.31203 , 110.34988 ,  66.90301 ,  66.08693 , 109.49595 ,
       106.999916,  98.94557 , 112.29725 , 105.938225, 112.51623 ,
        99.16066 ,  95.76879 ,  92.278046,  99.16066 ,  98.84988 ,
       105.938225, 113.29954 ,  98.84988 ,  94.68423 , 114.396904,
        96.37668 , 112.57832 , 106.7543  , 101.90008 ,  96.55587 ,
       108.41276 ,  98.66032 , 105.30779 , 107.7354  ,  96.88471 ,
       106.78153 , 112.57832 ,  96.523705, 115.15771 , 112.98406 ,
       106.79215 , 106.7543  , 112.56683 , 108.09931 , 106.7543  ,
       112.78552 , 113.42947 ,  94.42696 , 105.938225, 106.7543  ,
        94.143234, 113.42947 , 105.938225, 112.489   ,  92.278046,
       114.42391 , 105.938225,  97.52671 , 105.938225, 113.26169 ,
        96.70686 , 106.7543  , 106.79215 , 105.30779 ,  98.94557 ,
        96.06585 , 106.79215 ,  97.94432 ,  96.70779 ,  97.9674  ,
       113.991165,  97.84899 , 101.681694, 105.30779 ,  96.168045,
        99.88808 ,  93.85205 , 113.12756 , 112.57832 ,  94.75009 ,
        99.926956,  92.278046, 106.7543  ,  98.26846 ,  98.94557 ,
        91.32418 , 128.18504 ,  97.34657 , 106.999916, 114.77859 ,
       106.78153 , 106.999916,  96.88471 , 107.7354  , 107.7354  ,
       105.22929 , 106.7543  , 112.51623 ,  91.768166, 106.999916,
       112.51623 , 106.999916, 106.7543  , 105.938225,  97.28159 ,
        92.51329 , 112.2594  ,  97.72832 ,  96.443054, 106.79215 ,
       108.41276 , 106.7543  , 106.999916,  97.978134, 107.2443  ,
        91.64976 , 105.938225, 106.7543  ,  92.39258 , 112.85595 ,
       112.47005 , 112.2594  ,  91.72883 , 106.7543  , 111.370186,
       105.22929 ,  88.96685 ,  98.24233 , 105.938225, 106.79215 ,
       107.7354  , 113.5333  ,  98.53983 ,  97.83659 , 106.79215 ,
       106.91679 , 101.26075 ,  98.53983 , 106.999916, 106.78153 ,
       101.681694, 108.41276 , 107.7354  , 106.7543  ,  92.96559 ,
        97.34657 ,  97.83659 , 112.47005 ,  94.60481 , 113.92907 ,
       107.7354  , 106.79215 , 101.681694, 107.7354  , 106.999916,
       112.28663 ,  97.05599 , 105.37844 ,  97.978134,  97.046074,
       112.28921 ,  95.58741 ,  96.666466, 108.194374,  94.39304 ,
        96.25455 ], dtype=float32)

In [52]:
#Importing the Submission_format dataset
sub = pd.read_csv('/content/drive/MyDrive/Dengue/submission_format.csv')

In [53]:
#Put the predict values in the submission_format dataset
sub['total_cases'] = test_pred

In [54]:
sub['total_cases'] = sub['total_cases'].astype('int')
sub

    city  year  weekofyear  total_cases
0     sj  2008          18          108
1     sj  2008          19          108
2     sj  2008          20          109
3     sj  2008          21           66
4     sj  2008          22          108
..   ...   ...         ...          ...
411   iq  2013          22           95
412   iq  2013          23           96
413   iq  2013          24          108
414   iq  2013          25           94
415   iq  2013          26           96

[416 rows x 4 columns]

In [55]:
#Thank you to see my code if there is some question please tell me.